@model Dmart.Models.ProductModel
<style>
    form {
        padding-left: 2rem;
        height:4rem;
    }

    label {
        font-weight: bold;
        padding: 0.2rem;
    }
    .modal-body{
        height:10rem;
    }
</style>
<div class="modal-body">
    @using (Html.BeginForm("UpdateProductPrice","Home",FormMethod.Post))
    {
        <div class="form-group">
            <label>Update Price</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UpdatedPrice, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br /> <br />
        <div class="form-group">
            <label>Set Effective From Date</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br /> <br />
       @Html.HiddenFor(x=> x.ProductId)
        <button type="submit" value="Save" class="btn btn-success" >Save</button>

    }


</div>