@model Dmart.Models.ProductModel
@{
    ViewBag.Title = "Insert";
}
@{
    //Layout = "~/Views/Home/_TableRow.cshtml";
}

@*@Html.Partial("_TableRow");*@
<h2>Insert</h2>
<h1>Product Cart</h1>
<hr />

@using (Html.BeginForm("UpdateProductPrice", "Home", FormMethod.Post))
{
    <div>

     
        <button type="button" class="btn btn-success ADD">Add</button>
    </div>
    <br />
    <table class="table table-dark" id="tbl">
        <tr>
            <th>Product Name</th>
            <th>Current Unit Price</th>
            <th>Set Updated Price</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Delete</th>
        </tr>

    </table>
    <button type="submit" class="btn btn-primary">Save</button>
}
@*<form>
    </form>*@
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    var events = @Html.Raw(Json.Encode(Model.ProductList));
    console.log(events);


        var srno = 1;
    $(".ADD").click(function () {
     
        $.ajax({
            type: "get",
            url: "/Home/_UpdateProductPrice",
/*            data: { 'id': a },*/
            success: function (x) {
                $("#tbl").append(x);
            },
            error: function () {
                alert("Dynamic content load failed");
            },
        }
        )
        ++srno;
     
    });
   

    function calamnt(id) {
        var a = $(id);
        var quantity = $(id).val();
        console.log(id);
        var unitprice = $(a).parent().parent().find(".unitpricechange").val();
        //console.log(unitprice);


        var d = $(id).parent().parent().find(".amount").val(quantity * unitprice);
        console.log(d);
    }
    //function del(id) {
    //    console.log("#row" + id);
    //    $("#row" + id).remove();

    //}
    $('#tbl').on('click', '.delete', function () {
        $(this).closest('tr').remove();
    });

    //$('#productId').on('change', function () {
    //    var a = $("#productId").val();
    //    console.log(a);
    //});
    var Price;





   function getdropdownid(id)
       {
       var a = $(id).val();
       var b = $(id);
       console.log(b);
       console.log(a);

        $.ajax({
            type: "get",
            url: "/Home/getUnitPrice",
            data: { 'id': a },
            success: function (x) {
                if (x != 0) {
                    //$("#unit" + srno).val('x');
                    //console.log(x);
                    Price = x;
                    //console.log($(b).parent().siblings().find('.unitprice').text(Price));
                    $(b).parent().siblings().closest('.unitpricetd').find('.unitpricechange').val(Price);
                }
                else {
                    console.log("error");
                }
            },
            error: function () {
                alert("Dynamic content load failed");
            },
        }
        )


    }

    //setInterval(function () {
    //    console.log(Price);
    //}, 1000);

    //var a = $("#row1").siblings();
    //console.log(a);
</script>