
@{
    ViewBag.Title = "Insert";
}

<h2>Insert</h2>
<h1>Product Cart</h1>
<hr />
<form>

    <div class="item">
        <label>Order Date</label>
        <input type="date" name="name" value="" id="odate" />
        <br />
       
        <label>Select Customer</label>
        <select id="customer">
            <option value="Aman">Aman</option>
            <option value="Shubham">Shubham</option>
            <option value="Jeera">Jeera</option>
        </select>

        <button type="button" class="btn btn-success ADD">Add</button>
    </div>
    <br />
    <table class="table table-dark" id="tbl">
        <tr>

            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Delete</th>
        </tr>

    </table>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    var srno = 1;
    $(".ADD").click(function () {
        
        var cname = $('#customer').val();
        var pname = $('#products').val();
        var quantity = $('#quantity').val();
        console.log(srno);
        var order_date = $('#odate').val();
        var unit_price = 10;
        var amount = $('#amount').text();
        $("#tbl tr:last").after(
            '<tr id="row'+srno+'"><td><select id="products"><option value = "Ashirvad Atta">Ashirvad Atta</option ><option value="Tata Salt">Tata Salt</option><option value="Jeera">Jeera</option></select ></td><td id="unit' + srno + '">' + unit_price + '</td><td><input id="quantity' + srno + '" type="number" name="name" value="" onchange ="calamnt(' + srno + ')"/></td><td><label><span id="amount' + srno + '">12</span></label></td><td><button onclick="del('+srno+')" type="button" class="btn btn-danger">Delete</button> </td></tr >'   
        );
        ++srno;
        //console.log(cname, pname, quantity, unit_price, amount);
    });
    //$('#quantity').on('change', function () {
    //    var unit_price = $('#unitprice').text();
    //    var quantity = $('#quantity').val();
    //    $('#amount').text(unit_price * quantity);
    //    console.log(quantity, unit_price);
    //});
   
    function calamnt(id) {
        var quantity = $("#quantity"+id).val();
        $('#amount'+id).text(10 * quantity);
    }
    function del(id) {
        $("#row" + id).remove();
        
    }

</script>