@model Dmart.Models.ProductModel
@{
    ViewBag.Title = "Insert";
}
@{
    //Layout = "~/Views/Home/_TableRow.cshtml";
}

@*@Html.Partial("_TableRow");*@
<h2>Insert</h2>
<h1>Product Cart</h1>
<hr />

@using (Html.BeginForm("InsertData","Home",FormMethod.Post))
{
    <div>

        <label>Order Date</label>
        @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "text-center unitpricechange", @required = true } })
        <br />

        <label>Select Customer</label>
        @*<select id="customer">
            <option value="Aman">Aman</option>
            <option value="Shubham">Shubham</option>
            <option value="Jeera">Jeera</option>
        </select>*@
        @Html.DropDownListFor(model => model.CustomerId, new SelectList(Model.CustomerList, "id", "Name"))
        @*@Html.DropDownListFor(model => model.productId, new SelectList(Model.ProductList, "ProductId", "Name"))*@


        <button type="button" class="btn btn-success ADD">Add</button>
    </div>
    <br />
    <table class="table table-dark" id="tbl">
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Delete</th>
        </tr>

    </table>
    <button type="submit" class="btn btn-primary">Save</button>
}
@*<form>
</form>*@
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    var events = @Html.Raw(Json.Encode(Model.ProductList));
    console.log(events);
    $.ajax({
        type: "get",
        url: "/Home/_TableRow",
        /*            data: { 'id': a },*/
        success: function (x) {
            $("#tbl").append(x);
        },
        error: function () {
            alert("Dynamic content load failed");
        },
    }
    )
        //var srno = 1;
  
    //$('#quantity').on('change', function () {
    //    var unit_price = $('#unitprice').text();
    //    var quantity = $('#quantity').val();
    //    $('#amount').text(unit_price * quantity);
    //    console.log(quantity, unit_price);
    //});

    function calamnt(id) {
        debugger;
        var a = $(id);
        //$(id).val(1);
        var quantity = $(id).val();
        console.log(id);
        var unitprice = $(a).parent().parent().find(".unitpricechange")[0].textContent;
        //console.log(unitprice);
        console.log(unitprice);

        var d = $(id).parent().parent().find(".amount").val(quantity * unitprice);
        console.log(d);
        //getdropdownid(id);
    }
    //function del(id) {
    //    console.log("#row" + id);
    //    $("#row" + id).remove();

    //}
    $('#tbl').on('click', '.delete', function () {
        $(this).closest('tr').remove();
    });

    //$('#productId').on('change', function () {
    //    var a = $("#productId").val();
    //    console.log(a);
    //});
    var Price;



  
    var a;
   function getdropdownid(id)
   {
       debugger;

 
        a = $(id).val();
       var b = $(id);
       //var strike = b[0];
       //console.log(b);
       //console.log(a);
       var c = b[0];
       var qty = $(b).parent().parent().find('.qty').val(1);
       var qtys = $(b).parent().parent().find('.qty').val();
       var foc = $(b).parent().parent().find('.qty');

       $(foc).on('blur', function () {
           $.ajax({
               type: "get",
               url: "/Home/_TableRow",
               /*            data: { 'id': a },*/
               success: function (x) {
                   $("#tbl").append(x);
               },
               error: function () {
                   alert("Dynamic content load failed");
               },
           }
           )
       });
       //getdiscount(a,b,c);
       $.ajax({
            
            type: "get",
            url: "/Home/GetUnitPrice",
            data: { 'id': a },
            success: function (x) {
                if (x != 0) {
               
                    //console.log(x);
                    //$(b).parent().siblings().closest('.unitpricetd').find('.unitpricechange')[0].innerHTML = x.amount;
                    $(b).parent().siblings().closest('.unitpricetd').find('.unitpricechange').val(x.amount);
                    //console.log($(b).parent().parent().find('.qty')[0]);
                    $(b).parent().parent().find('.amount').val(x.amount * qtys);
                    if (x.product_discount_value != 0) {
                        if (x.discounttype == true) {
                            $(b).parent().siblings().closest('.unitpricetd').find('span').show();
                            $(b).parent().siblings().closest('.unitpricetd').find('span')[0].innerHTML = 'Original Price: &#8377;<s>' + x.productprice + ' </s><span style= "color:red; font-weight:bold; background-color:white">(' + x.product_discount_value + '% off )</span>';

                            //$(b).parent().siblings().closest('.unitpricetd').find('span').find('productprice')[0].css("text-decoration", "line-through");
                        }
                        else {
                            $(b).parent().siblings().closest('.unitpricetd').find('span')[0].innerHTML = 'Original Price: &#8377;<s>' + x.productprice + '</s><span style= "color:red; font-weight:bold; background-color:white"> (' + x.product_discount_value + '&#8377; off )</span>';

                        }
                    }
                    else{
                        $(b).parent().siblings().closest('.unitpricetd').find('.unitpricechange')[0].innerHTML = x.amount;
                        $(b).parent().siblings().closest('.unitpricetd').find('span').hide();
                    }

                }
              
                else {
                    console.log("error");
                }
            },
            error: function () {
                alert("Dynamic content load failed");
            },
        }
       )
    
       //calamnt(qty);


    }

</script>