
@{
    ViewBag.Title = "Jqeury";
}
<style>

    .prntdivd
    {
        background-color: black;
        color:white;
    }
</style>
<div id="prntdiv">
    <h1>Hello my name is siddhesh </h1>
</div>
<button type="button">Print</button>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
  

    $('button').on('click', function () {
        var content = $('#prntdiv').html().addClass('.pentdivd');
        var winprint = window.open('', '', 'left=100,top=100,width=1200,height=1500');
        winprint.document.write(content);
        winprint.print();
    });

    //jQuery('h1 + h2').css('color', 'red'); // Selects ALL H2 elements that are adjacent siblings of H1 elements   /* jQuery('h1').siblings('h2,h3,p').css('color', 'red');*/
 // Selects all H2, H3, and P elements that are siblings of H1 elements
    //$('#nav li>a').css('color', 'red'); // selects all 'a' child elements of Li tag


    //alert(jQuery('a').filter('.external').length + ' external links');
    //alert(
    //    jQuery('a')
    //        .filter(function (index) { return $(this).hasClass('external'); })
    //        .length + ' external links'
    //);
    //alert('total em are' + $('p').find('em').length );
    //alert(jQuery('p').filter('.middle').find('span').end().length); //end is used to undo
    //alert(jQuery('p').filter('.middle').length);

    //jQuery('div').find('p').andSelf.css('border', '1px solid #993300'); andself include prior selection

    //jQuery('li:eq(1)').next().css("color", "red");
    //jQuery('li:eq(1)').prev().css("color", "red");
    //jQuery('li:eq(1)').parent().css("color", "red"); //selects the first <li>
    //jQuery('li:eq(1)').parent().children().css("color", "red");
    //jQuery('li:eq(1)').nextAll().css("color", "red");
    //jQuery('li:eq(1)').prevAll().css("color", "red");
    //jQuery('p').html('<strong>Hello World</strong>, I am a <em>&lt;p&gt;</em> element.');
    //alert(jQuery('p').html());
    //$('button').click(function () {
    //    $('#p11').clone().appendTo('#h11');
    //});
    //jQuery('ul#a li')
    //    .click(function () { alert('List Item Clicked') })
    //    .parent()
    //    .clone(true)
    //    .find('li')
    //    .appendTo('#b')
    //    .end()
    //    .end()
    //    .remove();
</script>
